@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


 :root {
     font-size: 32px;
     --header-color: rgba(1, 149, 160, 0.486);
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: monospace;  
 }

 /*---------------------header-----------------*/

 #header {
     font-size: .5rem;
     background-color: var(--header-color);
 }

 #header nav {
     padding: .5rem;
 }

 #header  a {
     text-decoration: none;
     color:rgb(255, 255, 255);
     font-size: .7rem;
 }

 #header  a:hover {
    color: rgb(255, 208, 0);
}

#header  a:hover .fa-home {
    color: rgb(102, 255, 0);
}

 .fa-home {
    color: #6cc091;
    margin: .1rem;
  }

 .inner {
     display: flex;
 }


.logo {
  margin-left: auto;
} 

#success-webname {
    line-height: 1rem;;
    position: relative;
    font-size: 2.5em;
    margin: .3rem .3rem .1rem auto;
  }
  
  #success-webname > span {
    color: rgb(255, 208, 0);
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
  }
  
  #success-webname span span{
    color: #6cc091;
    font-family: 'Audiowide', cursive;
    padding: 0px;
    margin: 0px;
  }
  
  #success-webname span span::before {
    position: absolute;
    content: 'PRO';
    color: #6cc091;
    font-family: 'Audiowide', cursive;
    padding: 0px;
    margin: 0px;
    z-index: -1;
  }
  
  #success-webname span span:hover::before {
    color: #00ff6e;
    filter: blur(3px);
  }
  
  #success-webname span span:hover {
    color: #00ff6e;
  }
  
  #success-webname p {
    font-family: monospace;
    letter-spacing: 1px;
    color: white;
    font-size: 0.35em;
    margin-left: auto;
    width: max-content;
    height: max-content;
  }



 /*--------------------body---------------------*/

 body {
     width: 100%;
     height: 100%;
     background-image: url(../../images/wash1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: bottom;
     background-color: rgb(0, 193, 252);
     background-blend-mode: darken; 
}

 .success-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 9rem;
    transform: translate(-50%, -23%);
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: .7rem solid var(--header-color);
    outline-offset: 1rem;
    color: rgb(230, 230, 230);
    line-height: 1rem;
    text-shadow: 2px 2px 0px rgb(92, 92, 92);
 }

 .success-container h1 {
   font-size: 2.2rem;  
   text-transform: uppercase;
   letter-spacing: .1rem;
   margin-bottom: .3rem;
   margin-top: 2rem;
 }

 .success-container h2 {
    font-size: 1.15rem; 
    text-transform: uppercase;
    word-spacing: .01rem;
    margin-bottom: 1rem;
}

.success-container h3 {
    font-size: .9rem;
}


@media screen and (max-width: 980px) {
    :root {
        font-size: 26px;
    }
}

@media screen and (max-width: 736px) {
    :root {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        font-size: 16px;
    }

    .success-container {
        height: 15rem;
        width: max-content;
        transform: translate(-50%, -50%);
    }

    .success-container h1 {
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 2.9rem;
      }

    .success-container h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem; 
    }
    
    .success-container h3 {
        font-size: 1.3rem;
        word-spacing: .01rem;
        line-height: 1.3rem;
    }
    
    #nav a{
        font-size: 1.4rem;
    }

    #success-webname {
        font-size: 1.9rem;
    }

    #success-webname p {
        font-size: .8rem;
        word-spacing: .001rem;
    }
}